@yellow: rgb(222, 183, 7);
@white: white;
@orange: rgb(222, 158, 7);
@black: black;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    

    img{
        width: 100%;
    }

    div:nth-child(1) {
        align-self: center;
        padding: 0 40px 0 60px;
    }

    h1,
    h3{
        text-transform: uppercase;

        span:nth-child(2) {
            color: @yellow;
        }
    }

    h1 span,
    h5{
        font-weight: bold;
    }

    h5{
        background-color: @yellow;
        padding: 2px 5px;
        display: inline-block;
    }

    p{
        text-align: justify;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: @white;
        background-color: @yellow;
        text-transform: uppercase;
        padding: 5px 10px;
        border-radius: 50px;
        &:hover {
            background-color: @orange;
        }
    }

    h3,
    h5{
        margin-bottom: 10px;
    }
}

.title{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: auto;

    img{
        width: 100%;
    }

    h1 span{
        text-transform: uppercase;
        font-size: 56pt;
        margin-left: 90px;
        border: 2px solid silver;
        padding: 0 250px 0 250px;
        
    }

    .about{
        margin-top: 50px;
    }

    p{
         text-align: justify;
         margin-top: 20px;
         padding: 0 100px;
         font-size: 14pt;
    }

    h2{
       font-weight: normal;
       margin-left: 100px;
       margin-top: 50px;
       font-size: 20pt;
    }

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: @black;
        font-weight: bold;
        text-align: center;
        width: 250px;
        display: table;
        padding-top: 55px;

        &:hover {
            color: @white;
        }
    }

    nav{
        margin-top: -4px;
        height: 500px;
        background-color: @yellow;
    }
}

.title1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 400px;
    margin-top: -430px;
}

.tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 550px;
    height: 350px;
    background-color: @black;

    span{
        font-size: 35pt;
        font-weight: bold;
        color: @yellow;
    }

    p{
      color: @white;  
    }

    .tab1, .tab3 {
        border-right: 1px solid gray;
        padding: 40px 0px 50px 90px;
      }
    
      .tab1, .tab2 {
        border-bottom: 1px solid gray;
      }

      .tab2, .tab4 {
        padding: 40px 0px 50px 90px;
      }

  }




  .kart{
    margin-left: 50px;

    img{
        margin-top: 20px;
        width: 75px;
        margin-bottom: 20px;
    }

    p{
        margin-top: -85px;
        margin-left: 90px;
        width: 280px;
        margin-bottom: 15px;
        text-align: justify;
    }

    span{
        vertical-align: 85px;
        margin-left: 10px;
    }
  }

  .title3{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: auto;

    img{
        width: 100%;
    }

    h1 span{
        text-transform: uppercase;
        font-size: 56pt;
        margin-left: 90px;
        border: 2px solid silver;
        padding: 0 250px 0 250px;
        
    }

    .contact{
        margin-top: 50px;
    }

    p{
         text-align: justify;
         margin-top: 20px;
         padding: 0 100px;
         font-size: 14pt;
         width: 1000px;
    }

    h2{
       font-weight: normal;
       margin-left: 100px;
       margin-top: 50px;
       font-size: 20pt;
    }

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: @black;
        font-weight: bold;
        text-align: center;
        width: 250px;
        display: table;
        padding-top: 55px;

        &:hover {
            color: @white;
        }
    }

    nav{
        margin-top: -4px;
        height: 500px;
        background-color: @yellow;
    }

    h3{
        text-transform: uppercase;
        font-size: 24pt;
        text-align: center;
        margin-top: 170px;
    }

    .ic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 160px;
        margin-left: 100px;
    }

    .icon{
        img{
            width: 30%;
        }
        span{
            margin-top: -75px;
            padding: 15px;
            display: block;
            margin-left: 160px;
        }
    }

    .icon1{
        margin-left: 70px;
        img{
            width: 20%;
        }
        span{
            margin-top: -47px;
            padding: 3px;
            display: block;
            margin-left: 100px;
        }
    }
}